<%- include ('partials/header'); %>

<div class="jumbotron">
    <h1>Welcome to NewsNow</h1>
</div>
    <h3>You can view all the news articles here</h3>

    <a href="/news">News</a>

<%- include ('partials/footer'); %>